In [1]:
import pandas as pd

In [2]:
bbdsamples = pd.read_csv("belly_button_biodiversity_samples.csv")

In [14]:
names.to_json("Names")

In [15]:
bbdnames = pd.DataFrame(bbdsamples.columns[1:154])
bbdnames.head()

        0
0  BB_940
1  BB_941
2  BB_943
3  BB_944
4  BB_945

In [16]:
bbdotu = pd.read_csv("belly_button_biodiversity_otu_id.csv")

In [18]:
otud = pd.DataFrame(bbdotu)
otud.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [20]:
desc = otud['lowest_taxonomic_unit_found']
desc.head()

0    Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1    Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2    Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3    Archaea;Euryarchaeota;Methanobacteria;Methanob...
4    Archaea;Euryarchaeota;Methanobacteria;Methanob...
Name: lowest_taxonomic_unit_found, dtype: object

In [22]:
od = pd.DataFrame(bbdotu['lowest_taxonomic_unit_found'])
od.head()

                         lowest_taxonomic_unit_found
0  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4  Archaea;Euryarchaeota;Methanobacteria;Methanob...